@media screen and (min-width: 600px) {
    .Camera{
  //      background-color: black;
        box-shadow: 0px 0px 5px 5px black;
        /* border: 2px; */
        max-width: 350px;
        border-radius: 5px;
    }
}
@media screen and (max-width: 600px) {
    .Camera{
  //      background-color: black;
        box-shadow: 0px 0px 5px 5px black;
        /* border: 2px; */
 //       max-width: 350px;
        width: 100vw;
        height:100vh;
        border-radius: 5px;
    }
}

.CameraTitle{
    margin:10px;
    height: 50px;
    align-items: right;
     align-items: center; 
 
    margin: 10px;
}
.CameraContent{
    display: flex;
    justify-content: center;
}